@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;500;700;900&display=swap");

/* 
  light-grey: #e3e3e3,
  hover-grey: #f7f7f7,
  grey: #808080,
  dark-grey: #3b3b3b,
  black-grey: #221b1c,
  red: #ff0842,
  green: #08ff31,
  blue: #08daff, 
*/

* {
  font-family: "Source Code Pro", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    0deg,
    rgba(26, 94, 122, 1) 0%,
    rgba(55, 196, 255, 1) 100%
  );
}

nav {
  margin: 0px 16px;
  max-width: 900px;
  min-width: 280px;
}

.nav-container {
  padding: 8px 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e3e3e3;
  border: 1px solid #221b1c;
  border-radius: 4px;
  color: #221b1c;
  box-shadow: 0px 0px 4px #221b1c;
  text-align: center;
}

.menu {
  margin: 4px 16px;
  max-width: 900px;
  min-width: 280px;
}

.menu-container {
  padding: 8px 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e3e3e3;
  border: 1px solid #221b1c;
  border-radius: 4px;
  color: #221b1c;
  box-shadow: 0px 0px 4px #221b1c;
  gap: 12px;
}

#btn-about {
  margin-bottom: 4px;
}

.game-container {
  display: none;
}

.about-container {
  display: none;
}

footer {
  margin: 0px 16px;
  max-width: 900px;
  min-width: 280px;
}

.footer-container {
  padding: 8px 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e3e3e3;
  border: 1px solid #221b1c;
  border-radius: 4px;
  color: #221b1c;
  box-shadow: 0px 0px 4px #221b1c;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.links {
  display: inline-flex;
  list-style: none;
}

.links .icon {
  position: relative;
  background: #f1f1f1;
  border-radius: 50%;
  padding: 14px;
  margin: 10px;
  width: 20px;
  height: 20px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 4px #221b1c;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.links .tooltip {
  position: absolute;
  top: 0;
  font-size: 10px;
  background: #ffffff;
  color: #f1f1f1;
  padding: 4px 6px;
  border-radius: 4px;
  box-shadow: 0 0 2px #221b1c;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.links .tooltip::before {
  position: absolute;
  content: "";
  height: 4px;
  width: 4px;
  background: #f1f1f1;
  bottom: -2px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.links .icon:hover .tooltip {
  top: -30px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  padding: 6px;
}

.links .icon:hover span,
.links .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.links .github:hover,
.links .github:hover .tooltip,
.links .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.links .linkedin:hover,
.links .linkedin:hover .tooltip,
.links .linkedin:hover .tooltip::before {
  background: #0077b7;
  color: #ffffff;
}

/* light-grey: #e3e3e3,
hover-grey: #f7f7f7,
grey: #808080,
dark-grey: #3b3b3b,
black-grey: #221b1c,
red: #ff0842,
green: #08ff31,
blue: #08daff,  */

.button {
  width: 80%;
  appearance: button;
  background-color: #d2d2d2;
  border: 1px solid #221b1c;
  border-radius: 4px;
  box-shadow: #808080 4px 4px 0 0, #221b1c 4px 4px 0 1px;
  color: #221b1c;
  cursor: pointer;
  display: inline-block;
  font-family: "Source Code Pro", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 20px;
  padding: 12px 40px;
}

.button:hover {
  text-decoration: none;
  background-color: #f1f1f1;
  border-color: #010101;
}

.button:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}

.button:not([disabled]):active {
  box-shadow: #808080 2px 2px 0 0, #221b1c 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button {
    padding: 12px 50px;
  }
}
