@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;500;700;900&display=swap");

:root {
  --black: #000000;
  --white: #ffffff;
  --dark-blue: #212353;
  --light-blue: #2dc5fa;
  --dark-grey: #717291;
  --medium-grey: #818694;
  --grey: #a6a7ba;
  --light-grey: #dcdcdc;
  --correct: #0bb427;
  --wrong: #ff0421;
}

html {
  font-size: 16px;
}

* {
  font-family: "Source Code Pro", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    0deg,
    var(--dark-blue) 0%,
    var(--light-blue) 100%
  );
}

.header-container,
.main-container,
.footer-container {
  width: 60vw;
  padding: 12px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: var(--grey);
  color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
  border-radius: 4px;
  box-shadow: 0px 0px 4px var(--black);
  margin: 2px 0;
}

.header-container {
  text-shadow: 2px 2px 2px var(--dark-grey);
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}

.select-container {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.name-container {
  display: flex;
  width: 75%;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 4px;
  background-color: var(--light-grey);
  border: 1px solid var(--dark-blue);
  border-radius: 4px;
  color: var(--dark-blue);
  box-shadow: 0px 0px 4px var(--dark-blue);
  position: relative;
}

label {
  font-weight: 700;
  font-size: 1.25rem;
}

#input-name {
  width: 33%;
  background-color: #f1f1f1;
  border: 1px solid var(--dark-blue);
  border-radius: 4px;
  color: var(--dark-blue);
  display: inline-flex;
  font-family: "Source Code Pro", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  padding: 8px 12px;
  outline: none;
}

#input-name:focus {
  background-color: var(--white);
  box-shadow: 0px 0px 4px var(--dark-blue);
}

.modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25vw;
  margin: 5% auto;
  padding: 8px 16px;
  background-color: #e3e3e3;
  color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
  border-radius: 4px;
  box-shadow: 0px 0px 4px var(--dark-blue);
  text-align: center;
}

.btn-close-modal {
  color: var(--dark-blue);
  font-size: 32px;
  font-weight: bold;
}

.btn-close-modal:hover,
.btn-close-modal:focus {
  color: #999495;
  text-decoration: none;
  cursor: pointer;
}

.select-difficult {
  margin: 24px 0 12px 0;
  text-shadow: 2px 2px 2px var(--dark-grey);
}

.difficults {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.difficults img {
  width: 160px;
}

hr {
  display: none;
  width: 320px;
  border: 1px solid var(--dark-blue);
  margin: 12px 0;
}

.vr {
  display: flex;
  height: 160px;
  border-left: 2px solid;
  margin: 0 4px;
}

.difficult {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.difficult img {
  animation: shake 1s ease-in-out forwards infinite alternate-reverse;
}

.difficult img:hover {
  opacity: 1;
  -webkit-animation: flash 1s;
  animation: flash 1s;
}

.vitor-char {
  margin-bottom: 6px;
}

.jino-char {
  margin-bottom: 4px;
}

.plataform-container {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.select-platform {
  margin-bottom: 12px;
  text-shadow: 2px 2px 2px var(--dark-grey);
}

.platforms {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 32px;
}

.platforms img {
  width: 100px;
}

.platform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.platform img:hover {
  opacity: 1;
  -webkit-animation: flash 1s;
  animation: flash 1s;
}

.windows-logo {
  margin-bottom: 8px;
}

.macos-logo {
  margin-bottom: 40px;
}

.game-container {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.life-time {
  display: flex;
  width: 20vw;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background-color: var(--light-grey);
  border: 1px solid var(--dark-blue);
  border-radius: 4px;
  color: var(--dark-blue);
  box-shadow: 0px 0px 4px var(--dark-blue);
  position: relative;
  height: 60px;
}

#time {
  font-weight: 700;
  color: var(--black);
  font-size: 16px;
  text-shadow: 0px 0px 2px var(--dark-blue);
}

.clock {
  width: 40px;
  position: absolute;
  bottom: 8px;
  right: 5.5px;
}

.question-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  background-color: var(--light-grey);
  border: 1px solid var(--dark-blue);
  border-radius: 4px;
  color: var(--dark-blue);
  box-shadow: 0px 0px 4px var(--dark-blue);
  font-size: 12px;
  text-shadow: 0px 0px 2px var(--dark-grey);
  margin: 24px 0 4px 0;
}

.life-easy {
  width: 100px;
}

.life-normal {
  width: 80px;
}

.life-hard {
  width: 40px;
}

.alt-box {
  width: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8px 16px;
  gap: 12px;
}

.end-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.end-container p {
  font-weight: 700;
  margin: 8px 0;
}

.end-name {
  color: var(--light-blue);
}

.end-correct {
  color: var(--correct);
}

.end-wrong {
  color: var(--wrong);
}

.score-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 16px 12px 16px;
  background-color: var(--light-grey);
  border: 1px solid var(--dark-blue);
  border-radius: 4px;
  color: var(--dark-blue);
  box-shadow: 0px 0px 4px var(--black);
  line-height: 1.5;
}

.p {
  display: none;
}

.end-picture {
  margin: 16px 0;
  display: flex;
  width: 60%;
}

.about-container {
  display: none;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 12px;
}

.about-content {
  padding: 12px 16px;
  background-color: var(--light-grey);
  border: 1px solid var(--dark-blue);
  border-radius: 4px;
  box-shadow: 0px 0px 4px var(--black);
  text-align: left;
  color: var(--dark-blue);
  text-shadow: 0px 0px 1px var(--medium-grey);
  line-height: 2;
  list-style: disc;
}

li {
  font-weight: 500;
  margin-left: 10px;
}

.btn-back-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer-icons {
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
}

a:nth-child(1) {
  color: var(--black);
  text-shadow: 0px 0px 1px var(--dark-blue);
}

.icon {
  position: relative;
  background: var(--light-grey);
  border-radius: 50%;
  padding: 14px;
  margin: 12px 12px 0 12px;
  width: 16px;
  height: 16px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 4px var(--black);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip {
  position: absolute;
  top: 0;
  font-size: 10px;
  background: var(--light-grey);
  color: var(--light-grey);
  padding: 4px 8px;
  border-radius: 4px;
  box-shadow: 0 0 4px var(--black);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: var(--light-grey);
  bottom: -4px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon:hover .tooltip {
  top: -32px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  padding: 6px;
}

.icon:hover span,
.icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.github:hover,
.github:hover .tooltip,
.github:hover .tooltip::before {
  background: #444444;
  color: var(--white);
}

.linkedin:hover,
.linkedin:hover .tooltip,
.linkedin:hover .tooltip::before {
  background: #0071ae;
  color: var(--white);
}

.slideshow:hover,
.slideshow:hover .tooltip,
.slideshow:hover .tooltip::before {
  background: #d89906;
  color: var(--white);
}

.button {
  background-color: var(--light-grey);
  border: 1px solid var(--dark-blue);
  border-radius: 4px;
  box-shadow: var(--dark-grey) 4px 4px 0 0, var(--medium-grey) 4px 4px 0 1px;
  color: var(--dark-blue);
  cursor: pointer;
  display: inline-flex;
  font-family: "Source Code Pro", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  padding: 12px 32px;
}

.button-alt {
  width: 100%;
  background-color: var(--light-grey);
  border: 1px solid var(--dark-blue);
  border-radius: 4px;
  box-shadow: var(--dark-grey) 4px 4px 0 0, var(--medium-grey) 4px 4px 0 1px;
  color: var(--dark-blue);
  cursor: pointer;
  display: inline-block;
  font-family: "Source Code Pro", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  padding: 12px 32px;
}

.button:hover,
.button-alt:hover {
  text-decoration: none;
  background-color: #f1f1f1;
  border-color: var(--black);
}

.button:active,
.button-alt:active {
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px inset;
  outline: none;
}

.button:not([disabled]):active,
.button-alt:not([disabled]):active {
  box-shadow: var(--dark-grey) 2px 2px 0 0, var(--medium-grey) 2px 2px 0 1px;
  transform: translate(2px, 2px);
  background-color: var(--white);
  border-color: var(--black);
}

@keyframes shake {
  100% {
    transform: translateX(-5%);
  }

  66% {
    transform: translateY(1%);
  }

  50% {
    transform: translateX(5%);
  }

  33% {
    transform: translateY(-1%);
  }

  0% {
    transform: translateX(5%);
  }
}

@-webkit-keyframes flash {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 769px) and (max-width: 1367px) {
  body {
    height: 100vh;
  }

  .header-container,
  .main-container,
  .footer-container {
    width: 75vw;
  }

  .modal-content {
    width: 35vw;
  }

  .difficults img {
    width: 140px;
  }

  .platforms img {
    width: 90px;
  }

  .life-time {
    width: 30vw;
  }

  .alt-box {
    width: 35vw;
  }
}

@media (min-width: 426px) and (max-width: 769px) {
  body {
    height: 100vh;
    font-size: 14px;
  }

  .header-container,
  .main-container,
  .footer-container {
    width: 85vw;
  }

  .modal-content {
    width: 50vw;
  }

  .difficults img {
    width: 110px;
  }

  .difficults {
    gap: 12px;
  }

  .platforms img {
    width: 75px;
  }

  .platforms {
    gap: 12px;
  }

  .life-time {
    width: 40vw;
  }

  .alt-box {
    width: 50vw;
  }

  .button {
    padding: 6px 12px;
  }
}

@media (min-width: 391px) and (max-width: 426px) {
  body {
    height: 100vh;
    font-size: 12px;
  }

  .header-container,
  .main-container,
  .footer-container {
    width: 95vw;
  }

  .modal-content {
    width: 65vw;
  }

  .difficults {
    flex-direction: column;
    gap: 4px;
  }

  hr {
    display: flex;
  }

  .vr {
    display: none;
  }

  .difficults img {
    width: 80px;
  }

  .difficults {
    gap: 4px;
  }

  .platforms {
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }

  .platforms img {
    width: 60px;
  }

  .platforms {
    gap: 4px;
  }

  .life-time {
    width: 55vw;
  }

  .alt-box {
    width: 70vw;
  }

  .button {
    padding: 4px 8px;
  }
}

@media (max-width: 391px) {
  body {
    height: 100%;
    font-size: 12px;
  }

  .header-container,
  .main-container,
  .footer-container {
    width: 95vw;
  }

  .modal-content {
    width: 75vw;
  }

  .difficults {
    flex-direction: column;
    gap: 4px;
  }

  hr {
    display: flex;
  }

  .vr {
    display: none;
  }

  .difficults img {
    width: 80px;
  }

  .platforms {
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }

  .platforms img {
    width: 60px;
  }

  .life-time {
    width: 65vw;
  }

  .alt-box {
    width: 80vw;
  }

  .button {
    padding: 4px 8px;
  }
}
